build
dist
*.egg-info
ExternalGalaxyAstrometry/__pycache__
tests/__pycache__
LMCUtilsEDR3.py
.vscode
docs/build/
.ipynb_checkpoints
.virtual_documents
code-packaging-reve4829fc.pdf
int3Results
*.csv
*.h5
